.todo-section {
  display: flex;
  justify-content: space-between;
  width: 32vw;
  padding: 12px;
}

.todo-left {
  font-size: 1.2rem;
  width: 80%;
  display: flex;
}

.todo-left input {
  margin-right: 8px;
}

.todo-right {
  font-size: 1.2rem;
  display: flex;
}

.todo-right .edit-icon {
  cursor: pointer;
  display: block;
}

.remove-icon {
  cursor: pointer;
  color: #f00;
  display: block;
}

.edit-input {
  border: none;
  font-size: 1.2rem;
  outline: none;
}

.edit-input:focus {
  border: none;
  outline: none;
}

.todo-right .save-icon {
  color: #5dae4f;
  font-size: 1.4rem;
  cursor: pointer;
  display: block;
}

.task-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  display: block;
}

@media screen and (width < 1400px) {
  .todo-section {
    width: 54vw !important;
  }
}

@media screen and (width < 992px) {
  .todo-section {
    width: 80vw !important;
  }
}

@media screen and (width < 768px) {
  .todo-section {
    width: 90vw !important;
  }
}
